body {
  background-color: black;
  margin: 0 auto;
 

}
.Container {
 display: flex;
flex-direction: column;
align-items: center;


}

.Header {
  
 
  height: 8vh;
  width: 100vw;
  background-color: lightskyblue;
  padding-left: 35px;
  padding-top: 22px;

}


 .Container-Main { 
   height: 450px;
   width: 950px;
   background-color: white;
   margin-top: 70px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
   
} 

.button {
  display:flex;
  width: 100vw;
  height: 5vh;
  justify-content: space-around;
  margin-top: 10px;
  
  
}

div > button {
  background: transparent;
  color: white;
  border: none;
  font-size: 25px;
}


p > span {
  font-weight: bold;
}

ol > h2 {

  font-weight: bold;
}

.header1 {
  align-self: flex-end;
}
.name{
 text-decoration: underline;
 text-decoration-color: aqua;
}